
/*Estilos de Cards de la Home*/

main h2 {
    margin: 15px;
    letter-spacing: .125rem;
    font-family: "Poppins", sans-serif;
    color:#013237;
    font-weight: bold;
}

.homeOfertas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin: 15px;
    font-family: "Poppins", sans-serif;

}

.homeOfertas .text h4{
    font-size: .9375rem;
    margin: .9375rem;
}

.homeOfertas > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    display: flex;
}

.homeOfertas > article img {
    width: 60%;
    height: 60%;
    vertical-align: middle;
    justify-content: center;
    margin: 5px;
}

.homeOfertas .text {
    font-family: "Poppins", sans-serif;
    color: #013237;
    
}

.homeOfertas .text p {
    color:#4CA771;
    text-align: left;
    font-size: .75rem;
    margin: 5px;
    
}

.homeOfertas .text  a {
    font-size: 13px;
    background-color:#013237;
    border: #EAF9E7 ;
    font-weight: bold;
    margin: 8px;
}